body{
    margin: 0px;
    background-color: #ffb7b2c0;
    font-family: 'Fredoka One', cursive;
    background-image: url(/images/elMambo-Backgroundimage-1.png);
    background-repeat: repeat;
}

button{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 7px 15px;
}

.page-nav{
    border: 1px solid #c7ceea23;
    background-image: url(/images/banner-chico-1.png);
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
}

.page-nav h1{
    margin: 20px;
    text-align: center;
    color: #fa76d2;
    font-size: 60px;
}

.button-checkout{
    background-color:#4fc43f;
    color: black;
    border: 2px solid #1ebe09;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover{
    background-color: #86c731;
    color: rgb(0, 0, 0);
}

.carrito-tittle{
    color:#da791f;
    text-align: center;
}


.carrito-style{
    margin-top: 10px;
    background-image: url(/images/background-green.png.png);
    background-repeat: repeat;
    background-color: #E2F0CB;
}

.table{
    background-color: #eff5de;
}


.cards:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards img{
    width: 300px;
}

.cards h2{
    margin-bottom: 10px;
    margin-left: 15px;
}

.button-add{
    background-color: #d4f5e98e;
    color: black;
    border: 2px solid #32a87d;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.button-add:hover{
    background-color: #32a87d;
    color: white;
}


.bannerPage{
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

.bannerPage img{
    width:1302px;
    height: 600px;
}

.formularioDatos{
    margin: 30px;
    text-align: center;
}

