body{
    margin: 0px;
    background-color: #ffb7b2c0;
    font-family: 'Fredoka One', cursive;
}

button{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 7px 15px;
}

.page-nav{
    border: 1px solid #C7CEEA;
    background-color: #C7CEEA;
    position: relative;
}

.page-nav h1{
    margin: 20px;
}

.button-checkout{
    background-color: #d4f5e98e;
    color: black;
    border: 2px solid #2b9fc5;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover{
    background-color: #2b9fc5;
    color: white;
}

.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 1px solid #E2F0CB;
    background-color: #E2F0CB;

}

.product-container{
    margin: 10px 0 10px 10px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}

.product-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-container img{
    width: 300px;
}

.product-container h2{
    margin-bottom: 10px;
    margin-left: 15px;
}

.button-add{
    background-color: #d4f5e98e;
    color: black;
    border: 2px solid #32a87d;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.button-add:hover{
    background-color: #32a87d;
    color: white;
}


.bannerPage{
    display: grid;
    justify-content: center;
    margin-top: 40px;
}

.bannerPage img{
    width:1302px;
    height: 600px;
}

.formularioDatos{
    margin: 30px;
    text-align: center;
}

